.app{
  display: flex;
  overflow: hidden;
}

.routes{
  padding: 20px;
}

.ant.statistic{
  text-align: center;
}

.coin-detail-container{
  margin: 30px;
}

.stats{
  margin-left: 5px;
}

.coin-heading-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--border);
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

.coin-heading-container .coin-name{
  font-weight: 900;
  color: var(--pink);
}

.coin-heading-container p{
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 20px;
}

.stats-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.stats-container h2{
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
  color: var(--pink);
}

.coin-details-heading{
  font-weight: 700; 
  margin-top: 20px; 
  color: var(--pink) 
}

.coin-stats{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;

}

.coin-stats-name{
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.stats{
  font-weight: 800;
}

.coin-value-statistics-heading p{
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link p{
  font-size: 1rem;
  opacity: 0.9;
}


.coin-links{
padding: 0px 20px;
flex: 0.5;
}

.coin-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 20px;
}

.link-name{
  text-transform: capitalize;
  font-size: 1rem;
}

.coin-link a{
  color: var(--pink);
  font-weight: 700;
  font-size: 1rem;
}

.coin-link:hover, .coin-stats:hover{
  background-color: var(--bgSecondary);
}

/* .chart-header{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: green;
}
.chart-title{
  color: #0071bd 
} */

.price-container{
  display: flex; 
  gap: 20px; 
  align-items: center; 
  flex-wrap: wrap 
}

.price-change{
  font-weight: 900 
}

.current-price{
  margin-top: 0px; 
  font-weight: 900; 
}

.home-heading-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.show-more{
  margin-top: 0px;
  color:green
}

.search-crypto{
  margin: 20px auto 30px auto;
  width: 250px;
}

.crypto-card-container{
  min-height: 65vh 
}

.crypto-card{
  min-width: 250px;
}

.crypto-card .crypto-image{
  width:35px;
}

.select-timeperiod{
  width: 200px; 
  margin-top: 20px 
}
