.app{
  display: flex;
  overflow: hidden;
}

.routes{
  padding: 20px;
}

.crypto-card-container{
  min-height: 65vh !important;
  display: inline-block;
  
}

.crypto-card{
  width: 250px;
  border: 1px solid black;
  margin: 0.5px;
  
  padding: 1px;
}

.crypto-card .crypto-image{
  width:35px;
}

.ant-row{
  
}

