.app{
  display: flex;
  overflow: hidden;
}

.routes{
  padding: 20px;
}

.crypto-card-container{
  display: inline-flex;
}

.crypto-card{
  width: 100px;
  border: 1px solid black;
  margin: 0.5px;
  padding: 1px;
  order: 10

}

.crypto-image{
  width:35px;
}



